<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.webic.dao.UserMapper">

    <select id="selectAllUser" resultType="userDTO">
        SELECT * FROM account
    </select>
    
    <select id="selectUserId" resultType="userDTO">
        SELECT * FROM account WHERE userId = #{id}
    </select>
</mapper>